.features__text {
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 57px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.features__item {
  width: 119px;
  font-size: 45px;
  line-height: 10px;
}

.features__percent {
  font-weight: 500;

  display: inline-block;
  vertical-align: middle;
  margin-bottom: 22px;
}

.features__percent sup {
  font-size: 27px;
  line-height: 24px;
}

.features__desc {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  display: inline-block;
}
