.slider {
  width: 100%;
  min-width: 1440px;
  margin: 0 auto;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #eeeeee;
  min-height: 430px;
  position: relative;
}

.slider__wrap {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.slider__list {
  width: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: flex;
  justify-content: space-between;
}

.slider__info {
  width: 520px;
}

.slider__caption {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0 0 25px 0;
  padding-top: 75px;
}

.slider__desc {
  line-height: 24px;
  color: #283136;
  margin: 0 0 40px 0;
}

.slider__img {
  display: block;
  width: 760px;
  height: 431px;
}

.slider__btn {
  display: inline-block;
  padding: 17px 55px;
}

.slider__toggles {
  position: absolute;
  min-width: 90px;
  z-index: 3;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 314px;
  left: calc(50% - 45px);
}

.slider__toggle {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
}

.slider__toggle--checked::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  border: 2px solid #c1c1c1;
}
