.catalog {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 54px;
  margin-bottom: 60px;
}

.catalog__wrap {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__filter {
  width: 260px;
}

.catalog__products {
  width: 760px;
  margin-bottom: 27px;
}

.catalog__column {
  width: 760px;
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
