.contacts {
  height: 420px;
  width: 1440px;
  padding-left: 140px;
  padding-right: 140px;
}

.contacts__wrap {
  height: inherit;
  width: 1160px;
  margin: 0 auto;
  position: relative;

  padding-bottom: 30px;
  border-bottom: 2px solid #eeeeee;
}

.contacts__map {
  width: 1440px;
  margin-left: -140px;
  margin-right: -140px;
  position: relative;
}

.contacts__map::before {
  content: "";
  width: 231px;
  height: 190px;
  z-index: 3;
  position: absolute;
  background: url("../../img/decoration/map-pin.png") 0 0 no-repeat;
  top: 86px;
  right: 389px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  position: absolute;
  top: 55px;
  width: 320px;
  height: 310px;
  padding-top: 47px;
  padding-bottom: 48px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ffffff;
}

.contacts__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.contacts__adress {
  line-height: 18px;
  color: #666666;
  margin-top: 0;
  margin-bottom: 18px;
}

.contacts__phone {
  line-height: 18px;
  color: #666666;
  margin-top: 0;
  margin-bottom: 38px;
}

.contacts__btn {
  width: 220px;
  padding: 15px;
  display: block;
  text-align: center;
}
