.contacts {
  box-shadow: 0 0 5px #008000;
}

.contacts__wrap {
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
  margin: 0 auto;
  position: relative;

  padding-bottom: 30px;
  border-bottom: 2px solid #eeeeee;

  box-shadow: 0 0 5px navy;
}

.contacts__map {
  width: 1440px;
  margin-left: -140px;
  margin-right: -140px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  position: absolute;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 0 5px lime;
}
