.filter__fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 52px;
}

.filter__fieldset:nth-of-type(2) {
  height: 141px;
  background-color: navy;
}

.filter__fieldset:nth-of-type(3) {
  background-color: #880000;
  height: 226px;
}


.filter__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 49px
}

.filter__value {
  color: #283136;
  display: block;
}

.filter__value:hover,
.filter__value:focus {
  color: #000000;
  cursor: pointer;
}

.filter__checkbox:disabled + .filter__value {
  color: rgba(40, 49, 54, 0.302);
}

.filter__btn {
  outline: 0;
  width: 260px;
  background-color: #eeeeee;
  color: #000000;
  border: 2px solid transparent;
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: #dfdfdf;
}

.filter__btn:active {
  background-color: #d5d5d5;
  border-top: 2px solid #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
}
