.footer {
  box-shadow: 0 0 5px #008000;
}

.footer__wrap {
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  padding-bottom: 30px;
  border-bottom: 2px solid #eeeeee;

  box-shadow: 0 0 5px navy;
}
