.goods {
  position: relative;
  padding-top: 40px;
  margin-bottom: 33px;
}

.goods:hover,
.goods:focus {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.goods::before {
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("../img/decoration/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: 5;
}

.goods:hover::before,
.goods:focus::before {
  opacity: 1;
}

.goods:hover .goods__hover,
.goods:focus .goods__hover {
  opacity: 1;
}

.goods__picture {
  display: block;
}

.goods__hover {
  opacity: 0;
  position: absolute;
  background-color: #eeeeee;
  border-color: rgb(77, 77, 77);
  width: 360px;
  height: 230px;
  padding: 31px 90px 43px;
  top: 386px;
  z-index: 5;
  text-align: center;
}

.goods__name {
  font-size: 18px;
  line-height: 30px;
}

.goods__link {
  font-size: inherit;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.goods__link:hover,
.goods__link:focus {
  color: #fb565a;
}

.goods__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods__desc {
  line-height: 18px;
  color: #666666;
}

.goods__price {
  display: block;
}
