.header {
  background-color: #eeeeee;
  box-shadow: 0 0 5px #008000;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
  margin: 0 auto;

  box-shadow: 0 0 5px navy;
}

.header__img {
  display: block;
}
