.social {
  min-width: 260px;
  max-width: 375px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-right: 24px;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
}

.social__link:hover,
.social__link:focus {
  background-color: #e74246;
}

.social__link:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.social__icon {
  display: block;
}
