.sorting {
  width: 760px;
  height: 30px;
  margin-bottom: 47px;
  display: flex;
}

.sorting__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  width: 150px;
  margin-right: 250px;
}

.sorting__list {
  list-style: none;
  margin: 0;
  height: inherit;
  padding: 4px 0 6px;
  display: flex;
  margin-right: 45px;
}

.sorting__item {
  margin-right: 25px;
}

.sorting__item:last-child {
  margin-right: 0;
}

.sorting__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

}

.sorting__link:hover,
.sorting__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__link:active,
.sorting__link--active {
  color: rgba(0, 0, 0, 1);
}

.sorting__arrows {
  display: flex;
}

.sorting__arrow {
  display: block;
  margin-right: 21px;
}

.sorting__arrow:last-child {
  margin-right: 0;
}

.sorting__arrow:hover .sorting__arrow-icon,
.sorting__arrow:focus .sorting__arrow-icon {
  fill: #a6a6a6;
}

.sorting__arrow:active .sorting__arrow-icon {
  fill: #231f20;
}

.sorting__arrow-icon {
  fill: #ededed;
}
