.studio-info {
  box-shadow: 0 0 5px #008000;
}

.studio-info__wrap {
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  padding-bottom: 30px;
  border-bottom: 2px solid #eeeeee;

  box-shadow: 0 0 5px navy;
}

.studio-info__caption {
  font-family: 'Roboto Medium', 'Tahoma Medium';
  font-size: 45px;
  line-height: 45px;
}

.studio-info__desc {
  line-height: 24px;
  color: #283136;
}

.studio-info__desc--service {
  font-family: 'Roboto Medium', 'Tahoma Medium';
  text-transform: uppercase;
}

.studio-info__desc--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
