.user-nav {
  width: 160px;
  display: flex;
  justify-content: flex-end;
}

.user-nav__link {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.user-nav__link:hover,
.user-nav__link:focus {
  color: #fb565a;
}

.user-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-list__icon {
  margin-right: 23px;
  fill: #000000;
  opacity: 0.3;
}
